* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background: darkblue;
}
.main-from {
  width: 350px;
  background: black;
  height: 50px;
  position: relative;
}
.main-from .input {
  width: 100%;
  height: 100%;
  overflow: none;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
}
.main-from span i {
  display: none;
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 25px;
  color: red;
}
.main-from span i.show {
  display: block;
}
.main-from span i.valid {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 25px;
  color: green;
}
input:focus-visible {
  border: none;
  outline: none;
}
