* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #eeeeee;
  position: relative;
}
.warper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 65px;
}
.warper .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 20px;
  cursor: pointer;
}
.warper .box img {
  width: 300px;
  height: 300px;
  transform: scale(0.99);
  transition: 0.2s ease-in;
}

.warper .box img:hover {
  transform: scale(1);
}

.show {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}
.show img {
  width: 100%;
  max-width: 600px;
}
.show .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-weight: 700;
  cursor: pointer;
  color: #eeeeee;
}
.show.active {
  display: flex;
}
