* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(#faba17, #cbcb21);
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  max-width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.progress-container::before {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}
.progress {
  position: absolute;
  background-color: purple;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}
.circle.active {
  background: linear-gradient(#faba17, #cbcb21);
  border: 1px solid #fff;
  font-weight: 600;
}
button {
  padding: 10px 25px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
button:disabled {
  cursor: not-allowed;
}
